h1{
	font-family: "Lato", sans-serif;
	font-size: 60px;
	line-height: 80px;
	color: white;
	font-weight: 300; 
}

h2{
	font-family: "Lato", sans-serif;
	font-size: 25px;
	line-height: 35px;
	color: white;
	font-weight: 300; 	
}

.titles-header > a{
	text-decoration: none;
	font-family: "Lato", sans-serif;
	font-size: 25px;
	line-height: 30px;
	color: white;
	font-weight: 300;		
}

a:hover{
	text-decoration: underline;
}

i{
	margin: 10px;
}

footer a{
	text-decoration: none;
}

.main-header {
	width: 1400px;
	height: 550px;
	background: #fff url("../images/your_verse_hero.jpg") 0 100% no-repeat;
	margin: auto;
	text-align: center;
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
}

.nav-header{
	display: inline-block;
	background: linear-gradient(0, rgb(124,124,124) 50%, rgb(99,99,99) 50%);
	margin-bottom: 50px;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 gray;
	border: gray 0.5px;
}

.nav-button{
	display: inline-block;
	border-left: 1px;
	border-right: 1px;
	border-color: black;
	border-right-style: solid;
	border-left-style: solid;
	font-family: helvetica, sans-serif;
	font-weight: bold;
	text-shadow: 0 -1px 0 black;
}

.nav-start{
	border-left: none;
}

.nav-end{
	border-right: none;
}

.nav-header li a{
	display: block;
	padding: 10px 0;
	width: 105px;
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.flex-cont
{
	/* basic styling */
	width: 1400px;
	margin: auto;

	/* flexbox setup */
	display: -webkit-flex;
	-webkit-flex-direction: row;

	display: flex;
	flex-direction: row;
}

.img-cont img{
	width: 350px;
}

footer{
	width: 1200px;
	margin: 25px auto 5px;
}

footer p, footer a, footer li{
	font-size: 10px;
	font-family: verdana, sans-serif;
}

footer p, footer li{
	color: gray;
	display: inline-block;
	padding-left: 5px;
	padding-right: 5px;
	border: 5px;
}

.left-aligns{
	display: inline-block;
	float: left;
	margin-top: 6px;
	margin-bottom: 6px;
}

.right-aligns{
	display: inline-block;
	float: right;
}
/*
.left-aligns::after{
	clear: left;
}

.right-aligns::after{
	clear: right;
	}*/


	.copyright-text{
		clear: both;
	}

	.copyright-text *{
		display: inline;
	}